# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
moose_venv/
.venv_moose/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pylint
.pylint.d/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Local dev tools
*.log
*.sqlite3

# Optional: ignore data and generated folders
data/
output/
logs/
logger/
autopet-3-submission/
autopet-3-model/
CADS/
