-e .

colorama~=0.4.6
dask>=2025.7.0
#dicom2nifti~=2.6.2
emoji>=2.14.1
halo~=0.0.31
natsort>=8.4.0
nibabel==5.3.2
nnunetv2>=2.6.0
pre_commit==4.2.0
psutil>=7.0.0
pyfiglet~=0.8.post1
requests>=2.32.4
rich>=14.1.0
SimpleITK>=2.5.2

#Please install Moosez manually without dependencies: pip install moosez --no-deps
